	.insert-info-title {
	background-color: rgb(218, 40, 28);
	color: white;
	font-size: 19px;
	font-weight: 550; text-align : left;
	padding: 10px;
	height: 1.7em;
	text-align: left;
}

.insert-info-title>span {
	margin-left: 20px;
}

.insert-info {
	background-color: #F2F0E5;
	height: 460px;
}

.info-text {
	margin: 0 auto;
	padding: 10px 0; 
	width : 95%;
	border-bottom: 3px solid rgb(218, 40, 28);
	width: 100%;
}
.phone-info{
	width: 100px;
    height: 29px;
    padding: 3px 5px;
    border: 1px solid #b4b3aa;
}
.info{
	display: inline-block;
    height: 25px;
    width:120px;
    padding-left: 10px;
    border: 1px solid #b5b5b5;
}
.info-title{
		display: inline-block;
		height: 25px;
	width:150px;
margin:10px 25px;
}
.info-title:first-child {
    margin-top:20px;
}

.seat-btn{
	font-size: 14px;
    border: none;
    border-radius:7px;
	background-color: rgb(218, 40, 28);
	color: white;
	font-weight: bold;
    width: 120px;
    height:35px;
   	margin: 20px auto;
}
.seat-btn-wrapper{
	text-align:center;
}